body {
  --bg-colour: white;
  margin: 8px;
  overflow: hidden;
  background-color: var(--bg-colour);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'IBM Plex Mono', monospace;
  font-feature-settings: 'ss04' on, 'salt' on;
}

body:fullscreen {
  background-color: var(--bg-colour);
}
body:-webkit-full-screen {
  background-color: var(--bg-colour);
}
body:-moz-full-screen {
  background-color: var(--bg-colour);
}